Repository TinhHoaSolutions-EzHR/chatbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so, @lelouvincx, @greyyT

feat(frontend): handle create new chat logic
  chatbot-core/frontend-v2/.env.example
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/services/chat/create-chat-message.ts
  chatbot-core/frontend-v2/src/types/chat.ts
  chatbot-core/frontend-v2/src/utils/decode-chat-stream-chunk.ts
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/use-new-chat-helper.ts
Owners: @greyyT

fix(deployment): fix deployment workflow to docs
  .github/workflows/dbdocs.yml
  .github/workflows/deploy-dbdocs.yml
  docs/docs/chatbot-core/intro.md
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

ci(pre-commit): add new pre-commit hooks
  .pre-commit-config.yaml
Owners: none

fix(deployment): remove trigger on pull request for docs-deploy
  .github/workflows/docs-deploy.yml
Owners: none

chore: update pull request template
  .github/pull_request_template.md
Owners: none

feat(backend): initialize celery basic code
  chatbot-core/backend/app/background/__init__.py
  chatbot-core/backend/app/background/celery_worker.py
  chatbot-core/backend/app/background/tasks/__init__.py
  chatbot-core/backend/app/background/tasks/indexing.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/routers/v1/background.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): add more helper functions for celery-related logic
  chatbot-core/backend/app/background/celery_worker.py
  chatbot-core/backend/app/background/configs/__init__.py
  chatbot-core/backend/app/background/configs/base.py
  chatbot-core/backend/app/background/helpers.py
  chatbot-core/backend/app/background/utils.py
  chatbot-core/backend/app/databases/mssql.py
  chatbot-core/backend/app/databases/qdrant.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api/error_handler.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): add one worker in docker compose
  deployment/docker_compose/docker-compose.dev.yaml
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

chore: change log level
  deployment/docker_compose/docker-compose.dev.yaml
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

refractor(backend): rename the exception class for probe error
  chatbot-core/backend/app/background/utils.py
  chatbot-core/backend/app/utils/api/error_handler.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

refactor(backend): refactor logging configuration for basic logger and celery-related task logger
  chatbot-core/backend/app/utils/api/helpers.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

refractor(backend): add option to init database engine from method get_engine
  chatbot-core/backend/app/databases/mssql.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): add more celery hooks
  chatbot-core/backend/app/background/celery_worker.py
  chatbot-core/backend/app/background/utils.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): add Celery configurations
  chatbot-core/backend/app/background/configs/base.py
  chatbot-core/backend/app/settings/constants.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

build(docker): update docker compose to use new env file
  deployment/docker_compose/docker-compose.dev.yaml
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

chore: update makefiles
  chatbot-core/Makefile
  deployment/docker_compose/Makefile
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

build(env): update env example for deployment
  deployment/docker_compose/.env.example
Owners: @TinhHoaSolutions-EzHR/chat-bot, @TinhHoaSolutions-EzHR/van-phong-so

.github/CODEOWNERS:

# Chatbot-core team owns chatbot-core directory
chatbot-core/ @TinhHoaSolutions-EzHR/chat-bot

# Vanphongso team owns vanphongso directory
vanphongso/ @TinhHoaSolutions-EzHR/van-phong-so

# Both teams collaborate on shared resources
deployment/ @TinhHoaSolutions-EzHR/chat-bot @TinhHoaSolutions-EzHR/van-phong-so
docs/ @TinhHoaSolutions-EzHR/chat-bot @TinhHoaSolutions-EzHR/van-phong-so

# lelouvincx is code owner of chatbot-core/backend/alembic
chatbot-core/backend/alembic/ @lelouvincx

# greyyT is the code owner of chatbot-core/frontend or frontend-v2
chatbot-core/frontend/ @greyyT
chatbot-core/frontend-v2/ @greyyT
