Repository TinhHoaSolutions-EzHR/chatbot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TinhHoaSolutions-EzHR/chat-bot, @lelouvincx, @greyyT

chore(backend): add docstring for module translator
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/translators.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore(backend): update import secrets
  chatbot-core/backend/app/utils/llm/helpers.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore: ignore .DS_Store
  chatbot-core/backend/.gitignore
Owners: @TinhHoaSolutions-EzHR/chat-bot

refactor(backend): add error handling for not found openai api key value
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/readers.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

refactor(backend): improve docstring for translator and markitdown
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/readers.py
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/translators.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): update prompt template for translator
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/translators.py
  chatbot-core/backend/app/integrations/llama_index/prompts/__init__.py
  chatbot-core/backend/app/integrations/llama_index/prompts/translator.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): improve error handling for getting llm/embedding client
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/readers.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/utils/llm/helpers.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

feat(backend): add translator module to process documents (#258)
  .gitignore
  chatbot-core/backend/.gitignore
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/readers.py
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/translators.py
  chatbot-core/backend/app/integrations/llama_index/prompts/__init__.py
  chatbot-core/backend/app/integrations/llama_index/prompts/translator.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/utils/llm/helpers.py
  chatbot-core/backend/notebooks/POC1.ipynb
Owners: @TinhHoaSolutions-EzHR/chat-bot

ci(automerge): change commit msg to include both title and description
  .github/workflows/automerge.yml
Owners: none

feat(frontend): fix drag-and-drop functionality with improved event handling
  chatbot-core/frontend/src/providers/chat-drag-n-drop-provider.tsx
Owners: @greyyT

ci(pr-agent): update model from gpt-4o-mini to o3-mini
  .pr_agent.toml
Owners: none

fix(frontend): remove unnecessary console log in drag-and-drop handler
  chatbot-core/frontend/src/providers/chat-drag-n-drop-provider.tsx
Owners: @greyyT

chore: update readme
  README.md
Owners: none

chore: update readme
  README.md
Owners: none

ci(automerge): change commit msg to automatic
  .github/workflows/automerge.yml
Owners: none

chore: revert readme
  README.md
Owners: none

feat: create main router file for handling api routes
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/main_router.py
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore: remove vanphongso stuff from the repo
  .github/labeler.yml
  deployment/data/mssql/init.sql
  docs/sidebars.ts
  vanphongso/.gitkeep
  vanphongso/backend/.gitkeep
  vanphongso/frontend/.gitkeep
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore: refactor pull request template
  .github/pull_request_template.md
Owners: none

chore: move directory of .vscode and add recommendations
  .vscode/extensions.json
  .vscode/settings.json
Owners: none

build(env): update environment example
  chatbot-core/.env.example
Owners: @TinhHoaSolutions-EzHR/chat-bot

build(env): refactor env to the root directory
  .env.example
  .envrc
  .gitignore
  chatbot-core/.envrc.sample
  chatbot-core/README.md
  chatbot-core/backend/README.md
  deployment/docker_compose/docker-compose.dev.yaml
  deployment/docker_compose/docker-compose.prod.yaml
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore: more README and EzHR-chatbot.dbml to the root directory
  EzHR-Chatbot.dbml
  README.md
  chatbot-core/Makefile
Owners: @TinhHoaSolutions-EzHR/chat-bot

chore: update gitignore
  .gitignore
Owners: none

add localhost to origin list
  backend/app/main.py
Owners: none

fix(backend): update the markitdown module
  backend/app/integrations/llama_index/ingestion_pipelines/readers.py
Owners: none

fix(backend): fix translators module with pydantic base model
  backend/app/integrations/llama_index/ingestion_pipelines/translators.py
Owners: none

feat(notebooks): update POC1 with chunking process
  backend/notebooks/POC1.ipynb
  backend/pyproject.toml
  backend/uv.lock
Owners: none

feat(notebooks): update persisting to vector store
  .gitignore
  backend/notebooks/POC1.ipynb
Owners: none

chore(backend): refactor random code
  backend/app/integrations/llama_index/kvstore/mssql/base.py
  backend/app/settings/secrets.py
Owners: none

build(backend): add new dependency for integration llamaindex+fastembed
  backend/pyproject.toml
  backend/uv.lock
Owners: none

ci(linter): update pyproject to inherit ruff config from root dir
  backend/pyproject.toml
  ruff.toml
Owners: none

ci(linter): add github action for linting python
  .github/workflows/lint.yml
Owners: none

ci(linter): run lint job always success
  .github/workflows/lint.yml
  backend/app/main.py
Owners: none

ci(linter): cleanup old comments, keep latest one
  .github/scripts/summarize_linting.py
  .github/workflows/lint.yml
Owners: none

ci(linter): add linting summary status
  .github/scripts/summarize_linting.py
  .github/workflows/lint.yml
Owners: none

ci(linter): update token to use secrets.CI_TOKEN
  .github/workflows/lint.yml
  backend/app/main.py
Owners: none

build(deps): add ruff to dev dependency
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
Owners: none

chore: test lint
  backend/app/main.py
Owners: none

Remove package-lock.json
  chatbot-core/frontend/package-lock.json
Owners: @greyyT

.github/CODEOWNERS:

# Chatbot-core team owns chatbot-core directory
chatbot-core/ @TinhHoaSolutions-EzHR/chat-bot

# Both teams collaborate on shared resources
deployment/ @TinhHoaSolutions-EzHR/chat-bot
docs/ @TinhHoaSolutions-EzHR/chat-bot

# lelouvincx is code owner of chatbot-core/backend/alembic
chatbot-core/backend/alembic/ @lelouvincx

# greyyT is the code owner of chatbot-core/frontend or frontend-v2
chatbot-core/frontend/ @greyyT
