Repository TinhHoaSolutions-EzHR/chatbot, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, chatbot, vanphongso, documentation, devops-maintain, backend, frontend, POC

docs(backend): update dbml with latest changes from alembic migrations
  chatbot-core/EzHR-Chatbot.dbml
Labels: automerge, chatbot

ci(backend): add ci workflow for auto publish database catalog to dbdocs.io
  .github/workflows/dbdocs.yml
Labels: automerge, devops-maintain

docs(backend): lint dbml
  chatbot-core/EzHR-Chatbot.dbml
Labels: automerge, chatbot

chore: remove Makefile
  chatbot-core/Makefile
  deployment/docker_compose/Makefile
Labels: automerge, chatbot, devops-maintain

refactor: refactor env files
  chatbot-core/.env.example
  deployment/docker_compose/.env.example
  deployment/docker_compose/docker-compose.dev.yaml
Labels: automerge, chatbot, devops-maintain

ci: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Labels: automerge, devops-maintain

feat(backend): add user authentication using bearer access token
  chatbot-core/.env.example
  chatbot-core/backend/alembic/versions/bfc790750f83_change_user_schema.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/user.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/settings/secrets.py
  chatbot-core/backend/app/utils/user/authentication.py
  chatbot-core/backend/app/utils/user/jwt.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: automerge, chatbot, backend

feat: change old get_current_user to get_current_user_from_token
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/routers/v1/agent.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/routers/v1/folder.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/utils/user/authentication.py
Labels: automerge, chatbot, backend

fix: typo errors
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/services/user.py
  chatbot-core/backend/app/utils/user/authentication.py
Labels: automerge, chatbot, backend

feat(backend)!: add alembic revision for model user
  chatbot-core/backend/alembic/versions/5da9aba17cb5_add_columns_in_table_user_with_schema_.py
  chatbot-core/backend/alembic/versions/bfc790750f83_change_user_schema.py
  chatbot-core/backend/alembic/versions/cb1bf6e87a3e_remove_column_deleted_at_in_table_user.py
Labels: automerge, chatbot, backend

feat(frontend): implement user authentication flow
  chatbot-core/Makefile
  chatbot-core/frontend-v2/.env.example
  chatbot-core/frontend-v2/.gitignore
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/hooks/user/use-get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/hooks/user/use-user-logout.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/services/user/get-current-user.ts
  chatbot-core/frontend-v2/src/services/user/get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/types/api-response.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/tailwind.config.ts
Labels: automerge, chatbot, frontend

chore: remove unintentional commit
  chatbot-core/Makefile
Labels: automerge, chatbot

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - chatbot-core/**/*
          - deployment/**/*
          - docs/**/*
          - Makefile
          - README.md

chatbot:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/**/*

vanphongso:
  - changed-files:
      - any-glob-to-any-file:
          - vanphongso/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*

devops-maintain:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - .devcontainer/**/*
          - deployment/**/*

backend:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/backend/**/*

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/frontend/**/*
          - chatbot-core/frontend-v2/**/*

POC:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/notebooks/**/*
