Repository TinhHoaSolutions-EzHR/chatbot, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, chatbot, vanphongso, documentation, devops-maintain, backend, frontend, POC, dependencies, env

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - chatbot-core/**/*
          - deployment/**/*
          - docs/**/*
          - Makefile
          - README.md
          - .pre-commit-config.yaml

chatbot:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/**/*

vanphongso:
  - changed-files:
      - any-glob-to-any-file:
          - vanphongso/**/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*

devops-maintain:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - .devcontainer/**/*
          - deployment/**/*
          - .pre-commit-config.yaml

backend:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/backend/**/*

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/frontend/**/*
          - chatbot-core/frontend-v2/**/*

POC:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/backend/notebooks/**/*

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - chatbot-core/backend/uv.lock
          - chatbot-core/frontend/yarn.lock

env:
  - changed-files:
      - any-glob-to-any-file:
          - .env.example
          - .envrc.sample

perf(backend): update prompt to answer more politely
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/notebooks/chat.ipynb
Labels: automerge, chatbot, backend, POC

chore: vscode settings
  chatbot-core/backend/.vscode/settings.json
Labels: automerge, chatbot, backend

chore(backend): change tel and address to tinh hoa's
  chatbot-core/backend/app/services/chat.py
Labels: automerge, chatbot, backend

fix(backend): remove table data_docstore from alembic
  chatbot-core/backend/alembic/versions/75df014606e4_modify_column_type_for_handling_storing_.py
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_description_of_table_chat_.py
Labels: automerge, chatbot, backend

fix(frontend): error rendering starter messages and chat behavior
  chatbot-core/frontend/src/hooks/chat/use-new-chat-helper.ts
  chatbot-core/frontend/src/types/agent.ts
  chatbot-core/frontend/src/types/chat.ts
  chatbot-core/frontend/src/types/common.ts
  chatbot-core/frontend/src/types/connector.ts
  chatbot-core/frontend/src/types/prompt.ts
  chatbot-core/frontend/src/types/provider.ts
  chatbot-core/frontend/src/types/user.ts
  chatbot-core/frontend/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/new-chats-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/streaming-chat-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/streaming-message.tsx
  chatbot-core/frontend/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend/src/views/new-chat-page/agent-prompts.tsx
Labels: automerge, chatbot, frontend

chore(frontend): temporarily disable react strict mode
  chatbot-core/frontend/next.config.mjs
Labels: automerge, chatbot, frontend

fix(frontend): multi chat session misbehavior
  chatbot-core/frontend/src/components/dialog/create-chat-folder-dialog/create-chat-folder-dialog.tsx
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-chat-handler.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/new-chats-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/streaming-chat-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/streaming-message.tsx
Labels: automerge, chatbot, frontend

fix(frontend): wrong types for chat store
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/views/main-layout/chat-box/chat-box.tsx
Labels: automerge, chatbot, frontend

fix(backend): fix sqlalchemy type for storing vietnamese text with accents
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_type_for_storing_vietnamese_text.py
  chatbot-core/backend/alembic/versions/cc08b43d91ed_modify_column_name_of_table_user_for_.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/user.py
Labels: automerge, chatbot, backend

fix(backend): fix null content field of chat message
  chatbot-core/backend/app/integrations/llama_index/utils.py
Labels: automerge, chatbot, backend

perf(backend): update the llama-index's openai related packages for fixing bugs
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: automerge, chatbot, backend, dependencies

fix(backend): fix cancelling streaming generation causes api freezing
  chatbot-core/backend/app/services/chat.py
Labels: automerge, chatbot, backend

chore: update docstring
  chatbot-core/backend/app/routers/v1/chat.py
Labels: automerge, chatbot, backend

feat(backend): add client disconnection check for streaming responses
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/utils/api/helpers.py
Labels: automerge, chatbot, backend

fix(backend): ensure chat message content is not empty and handle empty accumulated responses
  chatbot-core/backend/app/integrations/llama_index/utils.py
  chatbot-core/backend/app/services/chat.py
Labels: automerge, chatbot, backend

fix(frontend): change method cancel sse from stream.cancel to abortController
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/services/chat/create-chat-message.ts
Labels: automerge, chatbot, frontend

fix(frontend): add message to client state after aborting
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/utils/check-error.ts
Labels: automerge, chatbot, frontend

chore: undo comment on docker compose service
  deployment/docker_compose/docker-compose.dev.yaml
Labels: automerge, devops-maintain

fix(backend): update field updated_at of table chat_session when new chat message is inserted
  chatbot-core/backend/app/models/chat.py
  deployment/docker_compose/docker-compose.dev.yaml
Labels: automerge, chatbot, devops-maintain, backend

refactor(backend): modify the alembic logic for column that is used to store vietnamese text
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_type_for_storing_vietnamese_text.py
Labels: automerge, chatbot, backend

refactor(backend): modify the alembic logic to drop self-foreign key in table chat_message
  chatbot-core/backend/alembic/versions/afc5e773d532_remove_self_foreign_keys_in_table_chat_.py
  chatbot-core/backend/app/models/chat.py
Labels: automerge, chatbot, backend

feat(backend): initialize feature to name the chat session based on the user question and agent response
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: automerge, chatbot, backend

feat(backend): add feature to rename chat session based on user request and agent response
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/settings/constants.py
Labels: automerge, chatbot, backend

refactor(backend): remove unused END event from ChatMessageStreamEvent and streamline chat response streaming
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: automerge, chatbot, backend

ci(dbdocs): add manually trigger
  .github/workflows/dbdocs.yml
Labels: automerge, devops-maintain

ci(dbdocs): fix wrong secret DBDOCS_TOKEN
  .github/workflows/dbdocs.yml
Labels: automerge, devops-maintain

refactor(backend): refactor alembic with self-reference keys
  chatbot-core/backend/alembic/versions/637ab9958b11_add_table_chat_message.py
  chatbot-core/backend/alembic/versions/afc5e773d532_remove_self_foreign_keys_in_table_chat_.py
Labels: automerge, chatbot, backend

docs(backend): update troubleshoot alembic
  chatbot-core/backend/README.md
Labels: automerge, chatbot, backend

refactor(backend): remove FKs for parent and child in chat message model
  chatbot-core/backend/alembic/versions/637ab9958b11_add_table_chat_message.py
Labels: automerge, chatbot, backend
