Repository TinhHoaSolutions-EzHR/chatbot, pull requests merged in 2024-12, with the labels that each got.

#63 refactor(frontend): frontend architecture rework
  chatbot-core/frontend/src/app/admin/assistants/DeletePersonaButton.tsx
  chatbot-core/frontend/src/app/admin/assistants/PersonaTable.tsx
  chatbot-core/frontend/src/app/admin/assistants/[id]/page.tsx
  chatbot-core/frontend/src/app/admin/assistants/page.tsx
  chatbot-core/frontend/src/app/admin/connectors/[connector]/auth/callback/route.ts
  chatbot-core/frontend/src/app/admin/connectors/[connector]/page.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/AddConnectorPage.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/ConnectorWrapper.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/NavigationRow.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/Sidebar.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/page.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/Advanced.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/ConnectorInput/FileInput.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/ConnectorInput/ListInput.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/ConnectorInput/NumberInput.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/ConnectorInput/SelectInput.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/DynamicConnectorCreationForm.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/FieldRendering.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/formelements/NumberInput.tsx
  chatbot-core/frontend/src/app/admin/connectors/file/pages/utils/files.ts
  chatbot-core/frontend/src/app/admin/embeddings/pages/AdvancedEmbeddingFormPage.tsx
  chatbot-core/frontend/src/app/admin/tools/ToolsTable.tsx
  chatbot-core/frontend/src/app/assistants/edit/[id]/page.tsx
  chatbot-core/frontend/src/app/auth/login/LoginText.tsx
  chatbot-core/frontend/src/app/auth/logout/route.ts
  chatbot-core/frontend/src/app/chat/ChatPopup.tsx
  chatbot-core/frontend/src/app/chat/shared/[chatId]/SharedChatDisplay.tsx
  chatbot-core/frontend/src/app/chat/shared_chat_search/FixedLogo.tsx
  chatbot-core/frontend/src/app/ee/admin/whitelabeling/WhitelabelingForm.tsx
  chatbot-core/frontend/src/app/layout.tsx
  chatbot-core/frontend/src/components/admin/connectors/AdminSidebar.tsx
  chatbot-core/frontend/src/lib/userSS.ts
Labels: chatbot, automerge, frontend

#68 feat(notebook): add jupyter notebook for POC 1
  chatbot-core/notebooks/POC1/POC1.ipynb
Labels: chatbot, POC

#76 feat(docs): deploy docs on github pages
  .github/workflows/docs-deploy.yml
  docs/.all-contributorsrc
  docs/.gitignore
  docs/README.md
  docs/blog/highLevelArchitecture.mdx
  docs/blog/namingConvention.mdx
  docs/docusaurus.config.ts
  docs/src/pages/index.md
  docs/yarn.lock
Labels: documentation, devops-maintain, automerge

#77 ci(docs): add github workflow yaml
  .github/workflows/pages.yml
Labels: documentation, devops-maintain, automerge

#78 Revert "ci(docs): add github workflow yaml"
  .github/workflows/pages.yml
Labels: devops-maintain, automerge

#79 perf(docker): optimize backend docker image
  chatbot-core/Makefile
  chatbot-core/backend/Dockerfile
Labels: chatbot, devops-maintain, backend

#91 hotfix(backend): Document upload indexing pipeline
  chatbot-core/.env.example
  chatbot-core/backend/app/databases/qdrant.py
  chatbot-core/backend/app/settings/secrets.py
  deployment/docker_compose/.env.example
  deployment/docker_compose/docker-compose.dev.yaml
Labels: chatbot, devops-maintain, automerge, backend

#88 feat(docs): split docs for vanphongso and chatbot-core
  docs/docs/chatbot-core/intro.md
  docs/docs/intro.md
  docs/docs/sidebar.ts
  docs/docs/vanphongso/intro.md
  docs/sidebars.ts
Labels: documentation, automerge

#101 feat(backend): Add basic api state management endpoints
  chatbot-core/backend/app/routers/base.py
Labels: enhancement, chatbot, automerge, backend, feature

#84 feat(backend): add basic chatbot endpoints
  chatbot-core/.env.example
  chatbot-core/backend/README.md
  chatbot-core/backend/app/databases/base.py
  chatbot-core/backend/app/databases/minio.py
  chatbot-core/backend/app/databases/mssql.py
  chatbot-core/backend/app/databases/qdrant.py
  chatbot-core/backend/app/databases/redis.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/api.py
  chatbot-core/backend/app/models/base.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/connector.py
  chatbot-core/backend/app/models/document.py
  chatbot-core/backend/app/models/prompt.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/base.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/repositories/connector.py
  chatbot-core/backend/app/repositories/document.py
  chatbot-core/backend/app/routers/base.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/routers/v1/connector.py
  chatbot-core/backend/app/services/base.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/services/connector.py
  chatbot-core/backend/app/services/document.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/accents_handler.py
  chatbot-core/backend/app/utils/api/api_response.py
  chatbot-core/backend/app/utils/api/error_handler.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/app/utils/llm/helpers.py
  chatbot-core/backend/app/utils/llm/pipeline.py
  chatbot-core/backend/app/utils/logger.py
  chatbot-core/backend/app/utils/pdf_reader.py
  chatbot-core/backend/app/utils/user/authentication.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/tests/unit/storage/minio.py
  chatbot-core/backend/tests/unit/storage/qdrant.py
  chatbot-core/backend/tests/unit/storage/redis.py
  deployment/docker_compose/.env.example
  ruff.toml
Labels: enhancement, chatbot, devops-maintain, automerge, backend

#102 docs: add page for hardware resourcing
  docs/blog/hardwareResourcing.mdx
Labels: documentation, chatbot, automerge

#103 fix(docs): add workflow dispatch to docs deploy
  .github/workflows/docs-deploy.yml
Labels: devops-maintain, automerge

#104 docs(database): add data catalog file
  chatbot-core/EzHR-Chatbot.dbml
Labels: documentation, chatbot, automerge

#105 docs: fix qdrant's document path
  docs/blog/hardwareResourcing.mdx
Labels: documentation, chatbot, automerge

#90 feat(frontend): Chatbot multilanguage for frontend
  chatbot-core/frontend/i18n.js
  chatbot-core/frontend/next.config.js
  chatbot-core/frontend/package.json
  chatbot-core/frontend/src/components/setLanguage.tsx
  chatbot-core/frontend/yarn.lock
Labels: enhancement, ci, chatbot, frontend

#108 fix(backend): Remove duplicated field
  chatbot-core/backend/app/models/document.py
Labels: enhancement, chatbot, automerge, backend, feature

#109 feat(backend): Add prompt repository layer
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/prompt.py
  chatbot-core/backend/app/repositories/prompt.py
Labels: enhancement, chatbot, automerge, backend, feature

#99 feat(backend): Implement chat folder to group chat sessions
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/folder.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/repositories/folder.py
  chatbot-core/backend/app/routers/v1/folder.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/services/folder.py
Labels: enhancement, chatbot, backend, feature

#114 feat(backend): add endpoint for creating chat feedback
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: chatbot, backend

#115 fix(backend): remove foreign key user__chat_message
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/prompt.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: bug, chatbot, backend

#117 hotfix(backend): change field `is_positive` of ChatFeedback model
  chatbot-core/backend/app/models/chat.py
Labels: chatbot, backend

#121 feat(backend): Add colored logging feature
  chatbot-core/backend/app/utils/api/helpers.py
Labels: enhancement, chatbot, backend, feature

#98 feat(backend): add user settings update feature
  chatbot-core/EzHR-Chatbot.dbml
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/base.py
  chatbot-core/backend/app/services/user.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/user/authentication.py
Labels: enhancement, chatbot, automerge, backend, feature

#111 refactor(frontend): remove ee from frontend
  chatbot-core/frontend/src/app/chat/input/SelectedFilterDisplay.tsx
  chatbot-core/frontend/src/app/ee/LICENSE
  chatbot-core/frontend/src/app/ee/admin/cloud-settings/BillingInformationPage.tsx
  chatbot-core/frontend/src/app/ee/admin/cloud-settings/page.tsx
  chatbot-core/frontend/src/app/ee/admin/cloud-settings/utils.ts
  chatbot-core/frontend/src/app/ee/admin/groups/ConnectorEditor.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/UserEditor.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/UserGroupCreationForm.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/UserGroupsTable.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/AddConnectorForm.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/AddMemberForm.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/AddTokenRateLimitForm.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/GroupDisplay.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/hook.ts
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/lib.ts
  chatbot-core/frontend/src/app/ee/admin/groups/[groupId]/page.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/lib.ts
  chatbot-core/frontend/src/app/ee/admin/groups/page.tsx
  chatbot-core/frontend/src/app/ee/admin/groups/types.ts
  chatbot-core/frontend/src/app/ee/admin/layout.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/custom-analytics/CustomAnalyticsUpdateForm.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/custom-analytics/page.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/dateUtils.ts
  chatbot-core/frontend/src/app/ee/admin/performance/lib.ts
  chatbot-core/frontend/src/app/ee/admin/performance/query-history/DownloadAsCSV.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/query-history/FeedbackBadge.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/query-history/QueryHistoryTable.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/query-history/[id]/page.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/query-history/page.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/usage/FeedbackChart.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/usage/QueryPerformanceChart.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/usage/UsageReports.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/usage/page.tsx
  chatbot-core/frontend/src/app/ee/admin/performance/usage/types.ts
  chatbot-core/frontend/src/app/ee/admin/standard-answer/StandardAnswerCreationForm.tsx
  chatbot-core/frontend/src/app/ee/admin/standard-answer/[id]/page.tsx
  chatbot-core/frontend/src/app/ee/admin/standard-answer/hooks.ts
  chatbot-core/frontend/src/app/ee/admin/standard-answer/lib.ts
  chatbot-core/frontend/src/app/ee/admin/standard-answer/new/page.tsx
  chatbot-core/frontend/src/app/ee/admin/standard-answer/page.tsx
  chatbot-core/frontend/src/app/ee/admin/whitelabeling/ImageUpload.tsx
  chatbot-core/frontend/src/app/ee/admin/whitelabeling/WhitelabelingForm.tsx
  chatbot-core/frontend/src/app/ee/admin/whitelabeling/page.tsx
  chatbot-core/frontend/src/app/ee/layout.tsx
  chatbot-core/frontend/src/components/DateRangeSelector.tsx
  chatbot-core/frontend/src/components/admin/ClientLayout.tsx
  chatbot-core/frontend/src/components/admin/Layout.tsx
  chatbot-core/frontend/src/components/header/AnnouncementBanner.tsx
  chatbot-core/frontend/src/components/search/DateRangeSelector.tsx
  chatbot-core/frontend/src/components/search/SearchSection.tsx
  chatbot-core/frontend/src/components/search/filtering/Filters.tsx
  chatbot-core/frontend/src/lib/dateUtils.ts
  chatbot-core/frontend/src/lib/hooks.ts
  chatbot-core/frontend/src/lib/search/interfaces.ts
  chatbot-core/frontend/src/lib/search/utils.ts
  chatbot-core/frontend/src/middleware.ts
  chatbot-core/frontend/yarn.lock
Labels: refactor, chatbot, automerge, frontend

#124 feat(backend): Add get current user information and user settings endpoint
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/user.py
Labels: enhancement, chatbot, backend, feature

#130 feat(docker): setup docker for frontend development
  chatbot-core/frontend/.gitignore
  chatbot-core/frontend/Dockerfile
  chatbot-core/frontend/dev.Dockerfile
  chatbot-core/frontend/package-lock.json
  chatbot-core/frontend/src/lib/constants.ts
  chatbot-core/frontend/yarn.lock
  deployment/data/nginx/app.conf
  deployment/data/nginx/app.conf.template.dev
  deployment/data/nginx/run-nginx.sh
  deployment/docker_compose/docker-compose.dev.yaml
Labels: chatbot, devops-maintain, automerge, frontend

#113 feat(backend): Initialize the agent endpoints
  chatbot-core/backend/alembic/versions/ff513f9e349f_add_user.py
  chatbot-core/backend/app/databases/minio.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/prompt.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/agent.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/repositories/prompt.py
  chatbot-core/backend/app/routers/v1/agent.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/agent.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/services/document.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api/error_handler.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: enhancement, chatbot, automerge, backend, feature

#133 feat(fe): setup new frontend directory
  chatbot-core/frontend-v2/.eslintrc.json
  chatbot-core/frontend-v2/.gitignore
  chatbot-core/frontend-v2/.husky/pre-commit
  chatbot-core/frontend-v2/.prettierrc
  chatbot-core/frontend-v2/.stylelintrc.json
  chatbot-core/frontend-v2/README.md
  chatbot-core/frontend-v2/commitlint.config.js
  chatbot-core/frontend-v2/components.json
  chatbot-core/frontend-v2/next.config.mjs
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/postcss.config.mjs
  chatbot-core/frontend-v2/src/app/globals.css
  chatbot-core/frontend-v2/src/app/layout.tsx
  chatbot-core/frontend-v2/src/app/page.tsx
  chatbot-core/frontend-v2/src/components/ui/button.tsx
  chatbot-core/frontend-v2/src/components/ui/input.tsx
  chatbot-core/frontend-v2/src/components/ui/separator.tsx
  chatbot-core/frontend-v2/src/components/ui/sheet.tsx
  chatbot-core/frontend-v2/src/components/ui/sidebar.tsx
  chatbot-core/frontend-v2/src/components/ui/skeleton.tsx
  chatbot-core/frontend-v2/src/components/ui/tooltip.tsx
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/use-mobile.tsx
  chatbot-core/frontend-v2/src/lib/utils.ts
  chatbot-core/frontend-v2/src/providers/query-provider.tsx
  chatbot-core/frontend-v2/tailwind.config.ts
  chatbot-core/frontend-v2/tsconfig.json
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge
