Repository TinhHoaSolutions-EzHR/chatbot, pull requests merged in 2024-11, with the labels that each got.

#8 Documentation for high-level architecture
  .gitignore
  Makefile
  docs/LICENSE
  docs/README.md
  docs/components/.DS_Store
  docs/components/counters.module.css
  docs/components/counters.tsx
  docs/components/features/index.tsx
  docs/components/icons/.DS_Store
  docs/components/icons/arrow-right.svg
  docs/components/icons/box.svg
  docs/components/icons/brush.svg
  docs/components/icons/cards.svg
  docs/components/icons/chevron-right.svg
  docs/components/icons/cloud.svg
  docs/components/icons/code.svg
  docs/components/icons/diagram.svg
  docs/components/icons/dropper.svg
  docs/components/icons/file.svg
  docs/components/icons/files.svg
  docs/components/icons/folder-tree.svg
  docs/components/icons/formula.svg
  docs/components/icons/gear.svg
  docs/components/icons/github.svg
  docs/components/icons/globe.svg
  docs/components/icons/gmail.svg
  docs/components/icons/id-card.svg
  docs/components/icons/index.ts
  docs/components/icons/lightning.svg
  docs/components/icons/link.svg
  docs/components/icons/markdown.svg
  docs/components/icons/newsletter.svg
  docs/components/icons/one.svg
  docs/components/icons/picture.svg
  docs/components/icons/rows.svg
  docs/components/icons/stars.svg
  docs/components/icons/switch.svg
  docs/components/icons/table.svg
  docs/components/icons/tailwind.svg
  docs/components/icons/terminal.svg
  docs/components/icons/warning.svg
  docs/components/screenshot/index.tsx
  docs/components/table/index.tsx
  docs/components/table/style.module.css
  docs/components/utils/shadow.jsx
  docs/components/video/index.jsx
  docs/next-env.d.ts
  docs/next.config.js
  docs/package.json
  docs/pages/_meta.json
  docs/pages/about.mdx
  docs/pages/high-level-architecture.mdx
  docs/pages/index.mdx
  docs/pnpm-lock.yaml
  docs/public/assets/high-level-architecture/architecture.png
  docs/theme.config.tsx
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: documentation

#13 docs(roadmap): add milestone plan to roadmap documentation
  Makefile
  docs/package.json
  docs/pages/_meta.json
  docs/pages/api-reference.mdx
  docs/pages/changelog.mdx
  docs/pages/configuration.mdx
  docs/pages/contributing.mdx
  docs/pages/deployment-guide.mdx
  docs/pages/development-guide.mdx
  docs/pages/embedding-flow.mdx
  docs/pages/faq.mdx
  docs/pages/glossary.mdx
  docs/pages/query-flow.mdx
  docs/pages/resourcing.mdx
  docs/pages/roadmap.mdx
  docs/pages/testing-guide.mdx
  docs/pages/troubleshoot.mdx
  docs/pages/user-guide.mdx
  docs/pnpm-lock.yaml
Labels: documentation

#11 feat(backend): structure base backend code
  Pipfile
  README.md
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/databases/__init__.py
  backend/databases/minio.py
  backend/databases/postgres.py
  backend/databases/redis.py
  backend/main.py
  backend/middlewares/__init__.py
  backend/models/__init__.py
  backend/models/api.py
  backend/models/embedding_model.py
  backend/pyproject.toml
  backend/repositories/__init__.py
  backend/repositories/embeding_model.py
  backend/requirements.txt
  backend/routers/__init__.py
  backend/routers/base.py
  backend/routers/v1/__init__.py
  backend/routers/v1/embedding_model.py
  backend/services/__init__.py
  backend/services/embedding_model.py
  backend/settings.py
  backend/tests/__init__.py
  backend/utils/__init__.py
  backend/utils/api_response.py
  backend/utils/error_handler.py
  backend/utils/logger.py
  deployment/docker_compose/.env.example
  deployment/docker_compose/docker-compose.yaml
  deployment/docker_compose/init.sql
Labels: enhancement

#28 refactor: add gitkeep for important directories
  chatbot-core/.gitkeep
  deployment/.gitkeep
  docs/.gitkeep
  vanphongso/.gitkeep
Labels: refactor

#44 docs: deploy documentation site
  README.md
  chatbot-core/backend/lmao.py
  chatbot-core/notebooks/POC1/data/NQLD01.pdf
  chatbot-core/notebooks/POC1/data/NQLD02.pdf
  chatbot-core/notebooks/POC1/data/TULD01.pdf
  chatbot-core/notebooks/POC1/data/TULD02.pdf
  chatbot-core/notebooks/POC1/data/qa.txt
  chatbot-core/notebooks/POC1/test-question-and-answer.ipynb
  docs/.gitignore
  docs/LICENSE
  docs/README.md
  docs/components/features/index.tsx
  docs/components/screenshot/index.tsx
  docs/components/video/index.jsx
  docs/env.d.ts
  docs/next.config.js
  docs/next.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/_meta.json
  docs/pages/_meta.tsx
  docs/pages/about.mdx
  docs/pages/api-reference.mdx
  docs/pages/api/hello.ts
  docs/pages/changelog.mdx
  docs/pages/configuration.mdx
  docs/pages/contributing.mdx
  docs/pages/deployment-guide.mdx
  docs/pages/development-guide.mdx
  docs/pages/embedding-flow.mdx
  docs/pages/faq.mdx
  docs/pages/glossary.mdx
  docs/pages/high-level-architecture.mdx
  docs/pages/index.mdx
  docs/pages/naming-convention.mdx
  docs/pages/query-flow.mdx
  docs/pages/resourcing.mdx
  docs/pages/roadmap.mdx
  docs/pages/testing-guide.mdx
  docs/pages/troubleshoot.mdx
  docs/pages/user-guide.mdx
  docs/pnpm-lock.yaml
  docs/postcss.config.mjs
  docs/public/assets/naming-conventions/git-naming-convention.png
  docs/public/assets/naming-conventions/semantic-release.jpg
  docs/public/favicon.ico
  docs/public/next.svg
  docs/public/vercel.svg
  docs/styles/globals.css
  docs/tailwind.config.ts
  docs/theme.config.tsx
  docs/tsconfig.json
  docs/wrangler.toml
  package-lock.json
  package.json
Labels: documentation, help wanted, chatbot

#53 ci(actions): add github actions for automerge
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/automerge.yml
Labels: good first issue, ci, devops-maintain

#59 hotfix(ci): update pre commit hooks for python
  .gitignore
  .pre-commit-config.yaml
  chatbot-core/backend/app/databases/postgres.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/api.py
  chatbot-core/backend/app/models/embedding_model.py
  chatbot-core/backend/app/repositories/embeding_model.py
  chatbot-core/backend/app/routers/base.py
  chatbot-core/backend/app/routers/v1/embedding_model.py
  chatbot-core/backend/app/services/embedding_model.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api_response.py
Labels: style, ci, chatbot, development, backend
