Repository TinhHoaSolutions-EzHR/chatbot, pull requests merged in 2025-03, with the labels that each got.

#288 build(docker): update docker-compose config for production
  .pr_agent.toml
  Makefile
  deployment/data/nginx/app.conf
  deployment/data/nginx/app.conf.template.dev
  deployment/docker_compose/docker-compose.prod.yaml
Labels: devops-maintain, autosquash

#291 fix(backend): correct app description data type
  backend/app/settings/constants.py
Labels: autosquash

#292 refactor(frontend): add `issue_date` and `is_public` field
  .github/CODEOWNERS
  frontend/package.json
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/services/documents/upload-documents.ts
  frontend/src/views/file-connector-page/add-file-connector-form/add-file-connector-form.tsx
  frontend/src/views/file-connector-page/add-file-connector-form/use-create-connector-helper.ts
  frontend/yarn.lock
Labels: devops-maintain

#294 ci(pre-commit): add a notebook strip out hook
  .pre-commit-config.yaml
Labels: devops-maintain, autosquash
