Repository TinhHoaSolutions-EzHR/chatbot, pull requests merged in 2025-01, with the labels that each got.

#128 feat(backend): Add LLM and Embedding model endpoints
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/provider.py
  chatbot-core/backend/app/repositories/provider.py
  chatbot-core/backend/app/routers/v1/provider.py
  chatbot-core/backend/app/services/provider.py
  chatbot-core/backend/app/settings/secrets.py
  chatbot-core/backend/app/utils/llm/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
  deployment/docker_compose/docker-compose.dev.yaml
Labels: enhancement, chatbot, devops-maintain, automerge, backend, feature

#136 feat(fe): add app sidebar
  chatbot-core/frontend-v2/src/app/(chat)/layout.tsx
  chatbot-core/frontend-v2/src/app/(chat)/page.tsx
  chatbot-core/frontend-v2/src/app/globals.css
  chatbot-core/frontend-v2/src/app/page.tsx
  chatbot-core/frontend-v2/src/components/app-logo.tsx
  chatbot-core/frontend-v2/src/components/new-chat-button.tsx
  chatbot-core/frontend-v2/src/components/ui/button.tsx
  chatbot-core/frontend-v2/src/components/ui/sidebar.tsx
  chatbot-core/frontend-v2/src/views/chat-page/chat-page.tsx
  chatbot-core/frontend-v2/src/views/chat-page/header-logo.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar.tsx
  chatbot-core/frontend-v2/src/views/main-layout/main-layout.tsx
  chatbot-core/frontend-v2/tailwind.config.ts
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge

#137 feat(frontend): add user button dropdown
  chatbot-core/frontend-v2/.eslintrc.json
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/components/new-chat-button.tsx
  chatbot-core/frontend-v2/src/components/ui/avatar.tsx
  chatbot-core/frontend-v2/src/components/ui/dropdown-menu.tsx
  chatbot-core/frontend-v2/src/views/chat-page/header-logo.tsx
  chatbot-core/frontend-v2/src/views/chat-page/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/views/chat-page/user-button/user-dropdown-item.tsx
  chatbot-core/frontend-v2/src/views/main-layout/main-layout.tsx
  chatbot-core/frontend-v2/tailwind.config.ts
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot

#138 feat(frontend): add agent selector component
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/components/temp-chat-model-icon.tsx
  chatbot-core/frontend-v2/src/components/ui/avatar.tsx
  chatbot-core/frontend-v2/src/components/ui/dropdown-menu.tsx
  chatbot-core/frontend-v2/src/components/ui/tabs.tsx
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/components/user-button/user-dropdown-item.tsx
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/configs/mock-agents.ts
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-agents-list.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-recent-agents.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-selected-agent.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-agent-store.ts
  chatbot-core/frontend-v2/src/hooks/use-custom-lodash-debounce.ts
  chatbot-core/frontend-v2/src/services/agents/get-agents-list.ts
  chatbot-core/frontend-v2/src/services/agents/get-recent-agents.ts
  chatbot-core/frontend-v2/src/types/agent.ts
  chatbot-core/frontend-v2/src/types/provider.ts
  chatbot-core/frontend-v2/src/views/chat-page/chat-page.tsx
  chatbot-core/frontend-v2/src/views/main-layout/main-layout.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-button.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-dropdown.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-options.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-search-bar.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-sheet.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/navbar.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge

#143 feat(frontend): create new chat component
  chatbot-core/frontend-v2/src/components/temp-chat-model-icon.tsx
  chatbot-core/frontend-v2/src/views/chat-page/agent-prompts.tsx
  chatbot-core/frontend-v2/src/views/chat-page/chat-page.tsx
  chatbot-core/frontend-v2/src/views/chat-page/new-chat.tsx
  chatbot-core/frontend-v2/src/views/chat-page/recent-agents.tsx
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/auto-height-textarea/auto-height-textarea.module.css
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/auto-height-textarea/auto-height-textarea.tsx
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend-v2/src/views/main-layout/main-layout.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot

#144 feat(backend): modify provider models to include a list of models
  chatbot-core/backend/app/models/provider.py
  chatbot-core/backend/app/services/provider.py
Labels: enhancement, chatbot, automerge, backend, feature

#140 refractor(backend): modify agent's prompt-related logic
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/prompt.py
  chatbot-core/backend/app/repositories/agent.py
  chatbot-core/backend/app/repositories/prompt.py
  chatbot-core/backend/app/routers/v1/agent.py
  chatbot-core/backend/app/services/agent.py
  chatbot-core/backend/app/services/document.py
Labels: enhancement, chatbot, backend, feature

#135 feat(llamaindex): initialize llamaindex directory
  .pre-commit-config.yaml
  chatbot-core/backend/app/llama_index/__init__.py
  chatbot-core/backend/app/llama_index/agents/__init__.py
  chatbot-core/backend/app/llama_index/engines/__init__.py
  chatbot-core/backend/app/llama_index/indices/__init__.py
  chatbot-core/backend/app/llama_index/ingestion_pipelines/__init__.py
  chatbot-core/backend/app/llama_index/ingestion_pipelines/readers.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/llm/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/tests/unit/storage/minio.py
  chatbot-core/backend/tests/unit/storage/mssql.py
  chatbot-core/backend/tests/unit/storage/qdrant.py
  chatbot-core/backend/tests/unit/storage/redis.py
  chatbot-core/backend/uv.lock
Labels: enhancement, chatbot, backend

#148 feat(backend): Add id return when creating chat session.
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: enhancement, chatbot, automerge, backend, feature

#150 feat(frontend): add health check and oauth provider
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/app/(chat)/chat/page.tsx
  chatbot-core/frontend-v2/src/app/(chat)/page.tsx
  chatbot-core/frontend-v2/src/app/globals.css
  chatbot-core/frontend-v2/src/app/layout.tsx
  chatbot-core/frontend-v2/src/configs/google-oauth.ts
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/constants/enums/query-params.ts
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/use-api-health-check.ts
  chatbot-core/frontend-v2/src/hooks/user/use-get-user-info.ts
  chatbot-core/frontend-v2/src/hooks/user/use-get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/providers/auth-provider/auth-provider.tsx
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/providers/health-check-provider.tsx
  chatbot-core/frontend-v2/src/providers/query-provider.tsx
  chatbot-core/frontend-v2/src/services/user/get-current-user.ts
  chatbot-core/frontend-v2/src/services/user/get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/types/user.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend-v2/src/views/new-chat-page/agent-prompts.tsx
  chatbot-core/frontend-v2/src/views/new-chat-page/new-chat-page.tsx
  chatbot-core/frontend-v2/src/views/new-chat-page/recent-agents.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge

#149 build(frontend): configure docker for frontend v2
  .tool-versions
  chatbot-core/frontend-v2/.dockerignore
  chatbot-core/frontend-v2/Dockerfile
  deployment/data/nginx/app.conf
  deployment/data/nginx/app.conf.template.dev
  deployment/docker_compose/docker-compose.dev.yaml
Labels: enhancement, chatbot, devops-maintain, automerge

#156 feat(frontend): implement user authentication flow
  chatbot-core/frontend-v2/.env.example
  chatbot-core/frontend-v2/.gitignore
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/hooks/user/use-get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/hooks/user/use-user-logout.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/services/user/get-current-user.ts
  chatbot-core/frontend-v2/src/services/user/get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/types/api-response.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/tailwind.config.ts
Labels: chatbot

#155 feat(backend): add user authentication using bearer access token
  .github/labeler.yml
  .github/workflows/dbdocs.yml
  chatbot-core/.env.example
  chatbot-core/EzHR-Chatbot.dbml
  chatbot-core/backend/alembic/versions/0e8338e6a569_add_table_embedding_provider.py
  chatbot-core/backend/alembic/versions/2506f01082d2_add_table_document_metadata.py
  chatbot-core/backend/alembic/versions/36e9e94abfc0_add_foreign_from_chat_session_to_folder.py
  chatbot-core/backend/alembic/versions/3ddac298fb73_add_foreign_from_chat_session_to_user.py
  chatbot-core/backend/alembic/versions/46fc46c959c4_add_foreign_from_document_metadata_to_.py
  chatbot-core/backend/alembic/versions/5a6605ebe3c9_add_foreign_from_folder_to_user.py
  chatbot-core/backend/alembic/versions/5da9aba17cb5_add_columns_in_table_user_with_schema_.py
  chatbot-core/backend/alembic/versions/6341eaa1d364_add_foreign_from_chat_message_to_agent.py
  chatbot-core/backend/alembic/versions/637ab9958b11_add_table_chat_message.py
  chatbot-core/backend/alembic/versions/674e15c976a8_add_table_chat_feedback_with_.py
  chatbot-core/backend/alembic/versions/6e3de72aa2c0_add_foreign_from_agent_to_user.py
  chatbot-core/backend/alembic/versions/71a88f740b61_add_table_llm_provider.py
  chatbot-core/backend/alembic/versions/92a9ffaf27e3_add_table_document_metadata_tag.py
  chatbot-core/backend/alembic/versions/a9732deb4d02_add_table_folder.py
  chatbot-core/backend/alembic/versions/c2dc180ed8a7_add_foreign_from_chat_message_to_chat_.py
  chatbot-core/backend/alembic/versions/cb1bf6e87a3e_remove_column_deleted_at_in_table_user.py
  chatbot-core/backend/alembic/versions/cfb28202c9f8_add_table_start_message_with_.py
  chatbot-core/backend/alembic/versions/d09ec0a7b6af_add_table_user_settings.py
  chatbot-core/backend/alembic/versions/df3f06ba3fbd_add_table_agent.py
  chatbot-core/backend/alembic/versions/e16788f843d0_add_foreign_from_chat_session_to_agent.py
  chatbot-core/backend/alembic/versions/e718b2006054_add_table_connector.py
  chatbot-core/backend/alembic/versions/ebb186ceff2c_add_table_user.py
  chatbot-core/backend/alembic/versions/f7c3dc060944_add_table_chat_session.py
  chatbot-core/backend/alembic/versions/fc0e79be141f_initial_migrations.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/__init__.py
  chatbot-core/backend/app/models/provider.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/routers/v1/agent.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/routers/v1/folder.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/user.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/settings/secrets.py
  chatbot-core/backend/app/utils/user/authentication.py
  chatbot-core/backend/app/utils/user/jwt.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: chatbot, devops-maintain, automerge, backend

#158 refactor(frontend): refactor frontend api call
  chatbot-core/frontend-v2/src/hooks/use-api-health-check.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/services/user/get-current-user.ts
  chatbot-core/frontend-v2/src/services/user/get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
Labels: chatbot, frontend

#159 feat(frontend): create sidebar's components and folder actions
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/app/layout.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/create-chat-folder-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/create-chat-folder-form.tsx
  chatbot-core/frontend-v2/src/components/ui/collapsible.tsx
  chatbot-core/frontend-v2/src/components/ui/dialog.tsx
  chatbot-core/frontend-v2/src/components/ui/form.tsx
  chatbot-core/frontend-v2/src/components/ui/label.tsx
  chatbot-core/frontend-v2/src/components/ui/sonner.tsx
  chatbot-core/frontend-v2/src/constants/enums/misc.ts
  chatbot-core/frontend-v2/src/constants/enums/query-params.ts
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-create-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-delete-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-edit-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-get-all-chat-folders.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-get-all-chat-sessions.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-dialog-store.ts
  chatbot-core/frontend-v2/src/hooks/utils/use-confirm.tsx
  chatbot-core/frontend-v2/src/providers/dialog-provider.tsx
  chatbot-core/frontend-v2/src/services/chat/create-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/delete-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/edit-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/get-all-chat-folders.ts
  chatbot-core/frontend-v2/src/services/chat/get-all-chat-sessions.ts
  chatbot-core/frontend-v2/src/types/chat.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/src/utils/group-chat-sessions.ts
  chatbot-core/frontend-v2/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/app-sidebar-header.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/app-sidebar.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/chat-folder-actions.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/delete-chat-folder-button.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-actions-buttons.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-name-input.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folders.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-history.tsx
  chatbot-core/frontend-v2/src/views/main-layout/main-layout.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/navbar.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, frontend

#152 fix(backend): default value cause overwritten value when updating
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/connector.py
  chatbot-core/backend/app/models/provider.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/agent.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/repositories/connector.py
  chatbot-core/backend/app/repositories/folder.py
  chatbot-core/backend/app/repositories/provider.py
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/routers/v1/agent.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/agent.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/services/connector.py
  chatbot-core/backend/app/services/provider.py
  chatbot-core/backend/app/services/user.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api/error_handler.py
Labels: enhancement, chatbot, backend, feature

#161 feat(backend): Add field chat_sessions in folder api response
  chatbot-core/backend/alembic/versions/989953ae75e5_remove_column_display_priority_in_table_.py
  chatbot-core/backend/app/models/folder.py
  chatbot-core/backend/app/repositories/folder.py
  chatbot-core/backend/app/routers/v1/folder.py
  chatbot-core/backend/app/services/folder.py
Labels: enhancement, chatbot, backend, feature

#163 feat(frontend): add chat history
  chatbot-core/frontend-v2/src/app/(chat)/assistants/page.tsx
  chatbot-core/frontend-v2/src/app/(settings)/layout.tsx
  chatbot-core/frontend-v2/src/app/globals.css
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/constants/enums/misc.ts
  chatbot-core/frontend-v2/src/constants/enums/query-params.ts
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/hooks/utils/use-custom-lodash-debounce.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/providers/auth-provider/auth-provider.tsx
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/types/chat.ts
  chatbot-core/frontend-v2/src/types/user.ts
  chatbot-core/frontend-v2/src/utils/group-chat-sessions.ts
  chatbot-core/frontend-v2/src/views/assistants-setting-page/assistants-setting-page.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/app-sidebar.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-name-input.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folders.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-history.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-history/chat-history.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-history/chat-session-item.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-search-bar.tsx
  chatbot-core/frontend-v2/src/views/settings-layout/settings-layout.tsx
  chatbot-core/frontend-v2/src/views/settings-layout/settings-sidebar/settings-sidebar.tsx
Labels: chatbot, frontend

#162 chore: Modify folder update logic
  chatbot-core/backend/app/repositories/folder.py
  chatbot-core/backend/app/services/folder.py
Labels: enhancement, chatbot, automerge, backend, feature

#166 feat(frontend): add agent selection
  chatbot-core/frontend-v2/src/configs/mock-agents.ts
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-agent-detail.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-agent.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-agents-list.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-recent-agents.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-get-selected-agent.ts
  chatbot-core/frontend-v2/src/hooks/agents/use-select-agent.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-agent-store.ts
  chatbot-core/frontend-v2/src/hooks/user/use-get-user-settings.ts
  chatbot-core/frontend-v2/src/services/agents/get-agent-detail.ts
  chatbot-core/frontend-v2/src/services/agents/get-agent.ts
  chatbot-core/frontend-v2/src/services/agents/get-agents-list.ts
  chatbot-core/frontend-v2/src/services/agents/get-recent-agents.ts
  chatbot-core/frontend-v2/src/services/agents/select-agent.ts
  chatbot-core/frontend-v2/src/services/user/get-user-settings.ts
  chatbot-core/frontend-v2/src/types/agent.ts
  chatbot-core/frontend-v2/src/types/user.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/src/views/main-layout/navbar/agent-selector/agent-selector-options.tsx
  chatbot-core/frontend-v2/src/views/new-chat-page/agent-prompts.tsx
  chatbot-core/frontend-v2/src/views/new-chat-page/recent-agents.tsx
Labels: chatbot, frontend

#168 feat(backend): Add user settings creation feature
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/repositories/user.py
  chatbot-core/backend/app/routers/auth.py
  chatbot-core/backend/app/routers/v1/user.py
  chatbot-core/backend/app/services/user.py
Labels: enhancement, chatbot, automerge, backend, feature

#169 fix(backend): Remove unused field agent_id in chat_message table
  chatbot-core/backend/alembic/versions/a51a76136ba9_remove_agent_id_from_table_chat_message.py
  chatbot-core/backend/app/models/agent.py
  chatbot-core/backend/app/models/chat.py
Labels: bug, chatbot, automerge, backend

#171 fix(backend): Update response for chat session update
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: chatbot, automerge, backend

#173 refractor(backend): Move to new integrations folder
  chatbot-core/backend/app/integrations/__init__.py
  chatbot-core/backend/app/integrations/llama_index/__init__.py
  chatbot-core/backend/app/integrations/llama_index/agents/__init__.py
  chatbot-core/backend/app/integrations/llama_index/engines/__init__.py
  chatbot-core/backend/app/integrations/llama_index/indices/__init__.py
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/__init__.py
  chatbot-core/backend/app/integrations/llama_index/ingestion_pipelines/readers.py
Labels: enhancement, chatbot, backend, feature

#174 feat(frontend): enhance login ui and change app icon
  chatbot-core/frontend-v2/public/TinhHoaSolutionsImage.png
  chatbot-core/frontend-v2/src/components/app-logo.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-item.tsx
  chatbot-core/frontend-v2/src/components/google-icon.tsx
  chatbot-core/frontend-v2/src/components/ui/card.tsx
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-delete-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-delete-chat-session.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-edit-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-edit-chat-session.ts
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/providers/folders-dnd-provider.tsx
  chatbot-core/frontend-v2/src/services/chat/create-chat-message.ts
  chatbot-core/frontend-v2/src/services/chat/edit-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/edit-chat-session.ts
  chatbot-core/frontend-v2/src/types/chat.ts
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/chat-folder-actions.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/delete-chat-folder-button.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/navbar.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, frontend

#181 feat(frontend): add move chat session dialog
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/actions-dropdown.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/chat-session-actions.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/edit-chat-session-buttons.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-context.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-input.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-item.tsx
  chatbot-core/frontend-v2/src/components/dialog/confirmation-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/create-chat-folder-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/create-chat-folder-form.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/use-create-folder-helper.ts
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-folder-dialog/delete-chat-folder-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-folder-dialog/use-delete-chat-folder-helper.ts
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-session-dialog/delete-chat-session-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-session-dialog/use-delete-chat-session-helper.ts
  chatbot-core/frontend-v2/src/components/dialog/move-chat-session-dialog/move-chat-session-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/move-chat-session-dialog/select-chat-folder.tsx
  chatbot-core/frontend-v2/src/components/dialog/move-chat-session-dialog/use-move-chat-session.ts
  chatbot-core/frontend-v2/src/components/ui/select.tsx
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-delete-chat-folder.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-delete-chat-session.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-edit-chat-session.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-dialog-store.ts
  chatbot-core/frontend-v2/src/hooks/utils/use-confirm.tsx
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/providers/dialog-provider.tsx
  chatbot-core/frontend-v2/src/providers/folders-dnd-provider.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/chat-folder-actions.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/delete-chat-folder-button.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-actions-buttons.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/use-edit-folder-name-helper.ts
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/auto-height-textarea/auto-height-textarea.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge, frontend

#182 feat(frontend): add admin sidebar
  chatbot-core/frontend-v2/src/app/(admin)/admin/existing-connectors/page.tsx
  chatbot-core/frontend-v2/src/app/(admin)/admin/page.tsx
  chatbot-core/frontend-v2/src/app/(admin)/layout.tsx
  chatbot-core/frontend-v2/src/app/(settings)/layout.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/chat-session-actions.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/edit-chat-session-buttons.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-button.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-context.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-input.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-item.tsx
  chatbot-core/frontend-v2/src/components/dialog/move-chat-session-dialog/use-move-chat-session.ts
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/constants/admin-sidebar-items.ts
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/hooks/user/use-user-logout.ts
  chatbot-core/frontend-v2/src/providers/admin-required-provider.tsx
  chatbot-core/frontend-v2/src/providers/auth-provider/oauth-login.tsx
  chatbot-core/frontend-v2/src/views/admin-layout/admin-layout.tsx
  chatbot-core/frontend-v2/src/views/admin-layout/admin-sidebar/admin-sidebar-navigations.tsx
  chatbot-core/frontend-v2/src/views/admin-layout/admin-sidebar/admin-sidebar.tsx
  chatbot-core/frontend-v2/src/views/admin-layout/admin-sidebar/custom-sidebar-components.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/app-sidebar-header.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/chat-folder-actions.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-actions-buttons.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-name-input.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/use-edit-folder-name-helper.ts
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend-v2/src/views/main-layout/navbar/navbar.tsx
  chatbot-core/frontend-v2/src/views/settings-layout/settings-layout.tsx
  chatbot-core/frontend-v2/src/views/settings-layout/settings-sidebar/settings-sidebar.tsx
Labels: chatbot, automerge, frontend

#180 fix(backend): fix alembic versions show conflict on dropping foreign keys
  .github/CODEOWNERS
  chatbot-core/backend/README.md
  chatbot-core/backend/alembic/versions/36e9e94abfc0_add_foreign_from_chat_session_to_folder.py
  chatbot-core/backend/alembic/versions/3ddac298fb73_add_foreign_from_chat_session_to_user.py
  chatbot-core/backend/alembic/versions/46fc46c959c4_add_foreign_from_document_metadata_to_.py
  chatbot-core/backend/alembic/versions/5a6605ebe3c9_add_foreign_from_folder_to_user.py
  chatbot-core/backend/alembic/versions/6341eaa1d364_add_foreign_from_chat_message_to_agent.py
  chatbot-core/backend/alembic/versions/6e3de72aa2c0_add_foreign_from_agent_to_user.py
  chatbot-core/backend/alembic/versions/a51a76136ba9_remove_agent_id_from_table_chat_message.py
  chatbot-core/backend/alembic/versions/c2dc180ed8a7_add_foreign_from_chat_message_to_chat_.py
  chatbot-core/backend/alembic/versions/e16788f843d0_add_foreign_from_chat_session_to_agent.py
Labels: bug, chatbot, devops-maintain, automerge, backend

#177 feat(backend): handle streaming response output for chat conversation
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/utils/api/error_handler.py
Labels: enhancement, chatbot, automerge, backend, feature

#186 feat(frontend): add existing connectors page
  chatbot-core/frontend-v2/src/app/(admin)/admin/existing-connectors/page.tsx
  chatbot-core/frontend-v2/src/app/admin/existing-connectors/page.tsx
  chatbot-core/frontend-v2/src/app/admin/layout.tsx
  chatbot-core/frontend-v2/src/app/admin/page.tsx
  chatbot-core/frontend-v2/src/components/admin-header.tsx
  chatbot-core/frontend-v2/src/components/chat-session-item/chat-session-actions/actions-dropdown.tsx
  chatbot-core/frontend-v2/src/components/dialog/confirmation-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/create-chat-folder-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/create-chat-folder-dialog/use-create-folder-helper.ts
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-folder-dialog/delete-chat-folder-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/delete-chat-session-dialog/delete-chat-session-dialog.tsx
  chatbot-core/frontend-v2/src/components/dialog/move-chat-session-dialog/move-chat-session-dialog.tsx
  chatbot-core/frontend-v2/src/components/will-render.tsx
  chatbot-core/frontend-v2/src/constants/admin-sidebar-items.ts
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hoc/with-dialog-render.tsx
  chatbot-core/frontend-v2/src/hooks/connectors/use-get-all-connectors.ts
  chatbot-core/frontend-v2/src/providers/dialog-provider.tsx
  chatbot-core/frontend-v2/src/services/connectors/get-all-connectors.ts
  chatbot-core/frontend-v2/src/types/connector.ts
  chatbot-core/frontend-v2/src/utils/get-api-url.ts
  chatbot-core/frontend-v2/src/views/admin-layout/admin-layout.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/connectors-list/connector-item.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/connectors-list/connector-skeleton.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/connectors-list/connectors-list.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/existing-connectors-page.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/search-connector.tsx
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/chat-box.tsx
Labels: chatbot, automerge, frontend

#188 feat(frontend): add add-connector page
  chatbot-core/frontend-v2/public/GoogleDrive.png
  chatbot-core/frontend-v2/src/app/admin/add-connector/page.tsx
  chatbot-core/frontend-v2/src/components/admin-header.tsx
  chatbot-core/frontend-v2/src/components/debounced-search-input.tsx
  chatbot-core/frontend-v2/src/components/ui/stepper.tsx
  chatbot-core/frontend-v2/src/constants/admin-connector-options.tsx
  chatbot-core/frontend-v2/src/constants/misc.ts
  chatbot-core/frontend-v2/src/hoc/with-render-admin-header.tsx
  chatbot-core/frontend-v2/src/utils/search-connector-options.ts
  chatbot-core/frontend-v2/src/views/add-connector-page/add-connector-page.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/existing-connectors-page.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/app-sidebar-header.tsx
  chatbot-core/frontend-v2/src/views/main-layout/app-sidebar/chat-folders/chat-folder-actions/folder-actions-buttons.tsx
  chatbot-core/frontend-v2/tailwind.config.ts
Labels: chatbot, automerge, frontend

#189 fix(backend): fix document upload wrong output response
  chatbot-core/backend/app/models/document.py
  chatbot-core/backend/app/routers/v1/connector.py
  chatbot-core/backend/app/services/document.py
Labels: chatbot, backend

#190 feat(frontend): add create file connector
  chatbot-core/frontend-v2/package.json
  chatbot-core/frontend-v2/src/app/admin/add-connector/(connector)/file/page.tsx
  chatbot-core/frontend-v2/src/app/admin/add-connector/(connector)/layout.tsx
  chatbot-core/frontend-v2/src/components/ui/progress.tsx
  chatbot-core/frontend-v2/src/components/user-button/user-button.tsx
  chatbot-core/frontend-v2/src/constants/react-query-key.ts
  chatbot-core/frontend-v2/src/hooks/connectors/use-create-connector.ts
  chatbot-core/frontend-v2/src/hooks/connectors/use-upload-documents.ts
  chatbot-core/frontend-v2/src/services/agents/get-agent-detail.ts
  chatbot-core/frontend-v2/src/services/agents/get-agents-list.ts
  chatbot-core/frontend-v2/src/services/agents/select-agent.ts
  chatbot-core/frontend-v2/src/services/chat/create-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/create-chat-message.ts
  chatbot-core/frontend-v2/src/services/chat/create-chat-session.ts
  chatbot-core/frontend-v2/src/services/chat/delete-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/delete-chat-session.ts
  chatbot-core/frontend-v2/src/services/chat/edit-chat-folder.ts
  chatbot-core/frontend-v2/src/services/chat/edit-chat-session.ts
  chatbot-core/frontend-v2/src/services/chat/get-all-chat-folders.ts
  chatbot-core/frontend-v2/src/services/chat/get-all-chat-sessions.ts
  chatbot-core/frontend-v2/src/services/connectors/create-connector.ts
  chatbot-core/frontend-v2/src/services/connectors/get-all-connectors.ts
  chatbot-core/frontend-v2/src/services/connectors/upload-documents.ts
  chatbot-core/frontend-v2/src/services/user/get-current-user.ts
  chatbot-core/frontend-v2/src/services/user/get-user-oauth-access-token.ts
  chatbot-core/frontend-v2/src/services/user/get-user-settings.ts
  chatbot-core/frontend-v2/src/types/connector.ts
  chatbot-core/frontend-v2/src/types/user.ts
  chatbot-core/frontend-v2/src/utils/format-plural.ts
  chatbot-core/frontend-v2/src/views/add-connector-layout/add-connector-layout.tsx
  chatbot-core/frontend-v2/src/views/add-connector-page/add-connector-page.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/connectors-list/connectors-list.tsx
  chatbot-core/frontend-v2/src/views/existing-connectors-page/existing-connectors-page.tsx
  chatbot-core/frontend-v2/src/views/file-connector-page/add-file-connector-form/add-file-connector-form.tsx
  chatbot-core/frontend-v2/src/views/file-connector-page/add-file-connector-form/add-file-connector-progress.tsx
  chatbot-core/frontend-v2/src/views/file-connector-page/add-file-connector-form/file-dropzone.tsx
  chatbot-core/frontend-v2/src/views/file-connector-page/add-file-connector-form/use-create-connector-helper.ts
  chatbot-core/frontend-v2/src/views/file-connector-page/file-connector-page.tsx
  chatbot-core/frontend-v2/yarn.lock
Labels: chatbot, automerge, frontend

#191 fix(backend): add optional to not yet used field in table
  chatbot-core/backend/alembic/versions/4dd998601576_modify_column_primary_owners_to_be_.py
  chatbot-core/backend/alembic/versions/89fb492b1e99_remove_unused_column_link_in_document_.py
  chatbot-core/backend/alembic/versions/a2b035522b2d_add_missing_document_url_field_for_.py
  chatbot-core/backend/alembic/versions/dc5a2749e3af_modify_column_last_synced_at_to_nullable.py
  chatbot-core/backend/app/models/document.py
Labels: bug, chatbot, automerge, backend

#198 feat(frontend): handle create new chat logic
  chatbot-core/frontend-v2/.env.example
  chatbot-core/frontend-v2/src/configs/misc.ts
  chatbot-core/frontend-v2/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend-v2/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend-v2/src/lib/axios.ts
  chatbot-core/frontend-v2/src/services/chat/create-chat-message.ts
  chatbot-core/frontend-v2/src/types/chat.ts
  chatbot-core/frontend-v2/src/utils/decode-chat-stream-chunk.ts
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend-v2/src/views/main-layout/chat-box/use-new-chat-helper.ts
Labels: chatbot, automerge, frontend

#199 fix(deployment): failed docs deployment
  .github/workflows/dbdocs.yml
  .github/workflows/deploy-dbdocs.yml
  .github/workflows/docs-deploy.yml
  .pre-commit-config.yaml
  docs/docs/chatbot-core/intro.md
Labels: bug, documentation, devops-maintain, automerge

#200 refactor: refactor env files for development
  chatbot-core/Makefile
  deployment/docker_compose/.env.example
  deployment/docker_compose/Makefile
  deployment/docker_compose/docker-compose.dev.yaml
Labels: refactor, chatbot, devops-maintain

#193 feat(backend): implement sse streaming response
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/repositories/chat.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/utils/api/error_handler.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: enhancement, chatbot, devops-maintain, automerge, backend, feature

#203 feat(backend): implement chat engine on the chat flow
  chatbot-core/backend/app/integrations/llama_index/utils.py
  chatbot-core/backend/app/services/chat.py
Labels: enhancement, chatbot, devops-maintain, backend, frontend

#206 fix(docker): invalid env file in docker compose dev
  deployment/docker_compose/docker-compose.dev.yaml
Labels: devops-maintain, automerge

#212 ci(pre-commit): add hook to check commit message's naming convention
  .github/labeler.yml
  .pre-commit-config.yaml
Labels: ci, devops-maintain

#211 refactor(docker): remove complex network in dev docker compose
  deployment/docker_compose/docker-compose.dev.yaml
Labels: devops-maintain, automerge

#209 feat(frontend): implement chat sessions drag and drop feature
  chatbot-core/frontend/package.json
  chatbot-core/frontend/src/components/chat-session-item/chat-session-button.tsx
  chatbot-core/frontend/src/components/chat-session-item/chat-session-item.tsx
  chatbot-core/frontend/src/constants/sidebar-items.ts
  chatbot-core/frontend/src/providers/chat-drag-n-drop-provider.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/app-sidebar.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/chat-history/chat-history.tsx
  chatbot-core/frontend/yarn.lock
Labels: enhancement, chatbot, dependencies, frontend

#214 feat(frontend): add streaming chat function
  chatbot-core/.env.example
  chatbot-core/frontend/package.json
  chatbot-core/frontend/src/components/chat-message/chat-message.css
  chatbot-core/frontend/src/components/chat-message/chat-message.tsx
  chatbot-core/frontend/src/components/will-render.tsx
  chatbot-core/frontend/src/constants/react-query-key.ts
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/chat/use-create-chat-session.ts
  chatbot-core/frontend/src/hooks/chat/use-get-chat-session-detail.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/providers/new-chats-provider.tsx
  chatbot-core/frontend/src/providers/streaming-chat-provider.tsx
  chatbot-core/frontend/src/services/chat/create-chat-message.ts
  chatbot-core/frontend/src/services/chat/get-chat-session-detail.ts
  chatbot-core/frontend/src/types/chat.ts
  chatbot-core/frontend/src/utils/decode-chat-stream-chunk.ts
  chatbot-core/frontend/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/previous-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/streaming-message.tsx
  chatbot-core/frontend/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend/src/views/main-layout/chat-box/use-new-chat-helper.ts
  chatbot-core/frontend/yarn.lock
Labels: chatbot, dependencies, automerge, frontend

#210 feat(backend): implement chat engine with Vietnamese company
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/examples/NQLD01.pdf
  chatbot-core/backend/notebooks/__init__.py
  chatbot-core/backend/notebooks/chat.ipynb
Labels: chatbot, backend

#207 ci(auto-prune): add ci workflow to auto prune staled branches
  .github/workflows/prune-staled-branches.yml
Labels: devops-maintain

#215 feat(frontend): hide unsupported feature
  chatbot-core/frontend/src/components/chat-message/chat-message.css
  chatbot-core/frontend/src/components/chat-session-item/chat-session-button.tsx
  chatbot-core/frontend/src/components/user-button/user-button.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/app-sidebar-header.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/app-sidebar.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  chatbot-core/frontend/src/views/main-layout/app-sidebar/chat-history/chat-history.tsx
  chatbot-core/frontend/src/views/main-layout/navbar/navbar.tsx
Labels: chatbot, frontend

#216 feat(backend): integrate end to end flow
  chatbot-core/backend/alembic/versions/75df014606e4_modify_column_type_for_handling_storing_.py
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_description_of_table_chat_.py
  chatbot-core/backend/alembic/versions/cc08b43d91ed_modify_column_name_of_table_user_for_.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/user.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: chatbot, dependencies, backend

#204 feat(backend): configure SQL server as LlamaIndex docstore
  chatbot-core/backend/app/databases/mssql.py
  chatbot-core/backend/app/integrations/llama_index/docstore/__init__.py
  chatbot-core/backend/app/integrations/llama_index/docstore/mssql/__init__.py
  chatbot-core/backend/app/integrations/llama_index/docstore/mssql/base.py
  chatbot-core/backend/app/integrations/llama_index/kvstore/__init__.py
  chatbot-core/backend/app/integrations/llama_index/kvstore/mssql/__init__.py
  chatbot-core/backend/app/integrations/llama_index/kvstore/mssql/base.py
  chatbot-core/backend/app/integrations/llama_index/kvstore/mssql/utils.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/settings/secrets.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/notebooks/docstore.ipynb
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/tests/unit/integrations/__init__.py
  chatbot-core/backend/tests/unit/integrations/llama_index/__init__.py
  chatbot-core/backend/tests/unit/integrations/llama_index/conftest.py
  chatbot-core/backend/tests/unit/integrations/llama_index/docstore.py
  chatbot-core/backend/tests/unit/integrations/llama_index/kvstore.py
  chatbot-core/backend/tests/unit/storage/mssql.py
  chatbot-core/backend/uv.lock
  chatbot-core/notebooks/data/NQLD01.pdf
Labels: enhancement, chatbot, dependencies, POC, backend

#217 perf(backend): update prompt to answer more politely
  chatbot-core/backend/.vscode/settings.json
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/notebooks/chat.ipynb
Labels: chatbot, POC, automerge, backend

#218 fix(backend): remove table data_docstore from alembic
  chatbot-core/backend/alembic/versions/75df014606e4_modify_column_type_for_handling_storing_.py
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_description_of_table_chat_.py
Labels: bug, chatbot, backend

#219 fix(frontend): error rendering starter messages and chat behavior
  chatbot-core/frontend/next.config.mjs
  chatbot-core/frontend/src/hooks/chat/use-new-chat-helper.ts
  chatbot-core/frontend/src/types/agent.ts
  chatbot-core/frontend/src/types/chat.ts
  chatbot-core/frontend/src/types/common.ts
  chatbot-core/frontend/src/types/connector.ts
  chatbot-core/frontend/src/types/prompt.ts
  chatbot-core/frontend/src/types/provider.ts
  chatbot-core/frontend/src/types/user.ts
  chatbot-core/frontend/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/new-chats-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/streaming-chat-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/streaming-message.tsx
  chatbot-core/frontend/src/views/main-layout/chat-box/chat-box.tsx
  chatbot-core/frontend/src/views/new-chat-page/agent-prompts.tsx
Labels: chatbot, frontend

#221 fix(frontend): multi chat session misbehavior
  chatbot-core/frontend/src/components/dialog/create-chat-folder-dialog/create-chat-folder-dialog.tsx
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/views/chat-detail-page/chat-detail-page.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-chat-handler.tsx
  chatbot-core/frontend/src/views/chat-detail-page/new-messages.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/new-chats-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/providers/streaming-chat-provider.tsx
  chatbot-core/frontend/src/views/chat-detail-page/streaming-message.tsx
Labels: chatbot, frontend

#223 fix(frontend): wrong types for chat store
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/views/main-layout/chat-box/chat-box.tsx
Labels: chatbot, frontend

#225 fix(backend): fix sqlalchemy type for storing vietnamese text with accents
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_type_for_storing_vietnamese_text.py
  chatbot-core/backend/alembic/versions/cc08b43d91ed_modify_column_name_of_table_user_for_.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/models/user.py
Labels: chatbot, backend

#231 fix(frontend): change method cancel sse from stream.cancel to abortController
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/hooks/stores/use-chat-store.ts
  chatbot-core/frontend/src/services/chat/create-chat-message.ts
Labels: chatbot, frontend
