Repository TinhHoaSolutions-EzHR/chatbot, pull requests merged in 2025-02, with the labels that each got.

#232 fix(frontend): add message to client state after aborting
  chatbot-core/frontend/src/hooks/chat/use-create-chat-message.ts
  chatbot-core/frontend/src/utils/check-error.ts
Labels: chatbot, frontend

#233 fix(backend): fix sqlalchemy type for storing vietnamese text with accents
  chatbot-core/backend/alembic/versions/c48653da954b_modify_column_type_for_storing_vietnamese_text.py
Labels: bug, chatbot, backend

#226 fix(backend): update field updated_at of table chat_session when new chat message is inserted
  chatbot-core/backend/app/models/chat.py
Labels: bug, chatbot, devops-maintain, backend

#228 fix(backend): fix api freezing when cancelling chat streaming flow
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
Labels: bug, build, chatbot, dependencies, backend

#238 ci(dbdocs): fix not running workflow
  .github/workflows/dbdocs.yml
Labels: chatbot, devops-maintain

#235 fix(backend): remove self-referential foreign keys in table chat_message
  .github/labeler.yml
  chatbot-core/Makefile
  chatbot-core/backend/README.md
  chatbot-core/backend/alembic/versions/637ab9958b11_add_table_chat_message.py
  chatbot-core/backend/app/models/chat.py
Labels: bug, chatbot, devops-maintain, backend, migration

#239 build(backend): bumps uv to latest version 0.5.26
  .tool-versions
  chatbot-core/README.md
  chatbot-core/backend/Dockerfile
  chatbot-core/backend/README.md
Labels: chatbot, backend

#213 chore(release): pre-release v1.0.0
  chatbot-core/.env.example
  chatbot-core/backend/app/main.py
  chatbot-core/frontend/.env.example
  deployment/data/nginx/app.conf
  deployment/data/nginx/app.conf.template.dev
  deployment/docker_compose/docker-compose.prod.yaml
Labels: chatbot, devops-maintain, backend, frontend

#241 ci(release): add the ci action to run release
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/release.yml
Labels: chatbot, devops-maintain, backend, frontend

#247 ci(pr-agent): add the pr agent workflow
  .github/workflows/pr_agent.yml
Labels: devops-maintain, automerge, Review effort [1-5]: 2

#187 feat(backend): configure celery background task queue
  chatbot-core/.env.example
  chatbot-core/backend/app/background/__init__.py
  chatbot-core/backend/app/background/celery_worker.py
  chatbot-core/backend/app/background/configs/__init__.py
  chatbot-core/backend/app/background/configs/base.py
  chatbot-core/backend/app/background/helpers.py
  chatbot-core/backend/app/background/tasks/__init__.py
  chatbot-core/backend/app/background/tasks/indexing.py
  chatbot-core/backend/app/background/utils.py
  chatbot-core/backend/app/databases/mssql.py
  chatbot-core/backend/app/databases/qdrant.py
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/routers/v1/background.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api/error_handler.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
  deployment/docker_compose/.env.example
  deployment/docker_compose/docker-compose.dev.yaml
Labels: enhancement, chatbot, dependencies, devops-maintain, backend, Review effort [1-5]: 4

#240 feat(backend): seed agent and user to the database
  .github/pull_request_template.md
  chatbot-core/.env.example
  chatbot-core/Makefile
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/seeds.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/utils/api/helpers.py
  chatbot-core/backend/app/utils/user/uuid.py
  chatbot-core/backend/pyproject.toml
  chatbot-core/backend/uv.lock
  chatbot-core/frontend/Dockerfile
  deployment/data/api_server/seeds/agents.yaml
  deployment/data/api_server/seeds/users.yaml
  deployment/docker_compose/docker-compose.dev.yaml
Labels: chatbot, dependencies, devops-maintain, backend, frontend, Review effort [1-5]: 4

#250 fix(backend): investigate fix backend concurrency issues chat streaming
  chatbot-core/backend/app/databases/mssql.py
  chatbot-core/backend/app/routers/v1/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/utils/api/helpers.py
  deployment/data/mssql/init.sql
Labels: bug, chatbot, devops-maintain, backend, Review effort [1-5]: 4

#253 fix(backend): revert helper load_yaml
  chatbot-core/backend/app/utils/api/helpers.py
Labels: bug, chatbot, automerge, backend, Review effort [1-5]: 2

#254 refactor(notebooks): move directory notebooks into backend
  chatbot-core/backend/notebooks/POC1.ipynb
  chatbot-core/backend/notebooks/data/NQLD01.pdf
  chatbot-core/notebooks/POC1/POC1.ipynb
  chatbot-core/notebooks/POC1/data/NQLD01.pdf
  chatbot-core/notebooks/POC1/data/NQLD02.pdf
  chatbot-core/notebooks/POC1/data/TULD01.pdf
  chatbot-core/notebooks/POC1/data/TULD02.pdf
  chatbot-core/notebooks/POC1/data/qa.txt
  chatbot-core/notebooks/POC1/test-question-and-answer.ipynb
  chatbot-core/notebooks/data/NQLD01.pdf
Labels: chatbot, POC, automerge, backend, Review effort 4/5

#255 ci(automerge): change merge method to squash
  .github/labeler.yml
  .github/workflows/automerge.yml
Labels: devops-maintain, autosquash, Review effort 2/5

#236 feat(backend): rename chat session instead of UUID
  chatbot-core/backend/app/main.py
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/services/chat.py
  chatbot-core/backend/app/settings/constants.py
  chatbot-core/backend/app/settings/secrets.py
  deployment/docker_compose/docker-compose.dev.yaml
Labels: enhancement, chatbot, devops-maintain, backend, autosquash

#263 refactor(backend): rename chat session instead of UUID
  chatbot-core/backend/app/models/chat.py
  chatbot-core/backend/app/services/chat.py
Labels: chatbot, backend, Review effort 4/5

#266 chore: update readme
  README.md
Labels: autosquash, Review effort 1/5

#269 Fix localhost blocked by CORS on windows systems
  backend/app/main.py
Labels: bug, automerge, backend

#276 chore: clean up VSCode configuration files and update .gitignore
  .gitignore
  .vscode/settings.json
  backend/.vscode/settings.json
Labels: refactor, autosquash, Review effort 1/5

#271 ci(linter): add github action for linting python
  .github/scripts/summarize_linting.py
  .github/workflows/lint.yml
  backend/pyproject.toml
  backend/uv.lock
Labels: devops-maintain, Review effort 4/5

#279 chore: update readme with docker compose v2 troubleshooting
  Makefile
  README.md
Labels: autosquash, Review effort 2/5

#280 build(env): remove .env file in the docker_compose directory
  .env.example
  backend/app/settings/secrets.py
  deployment/docker_compose/.env.example
  deployment/docker_compose/docker-compose.dev.yaml
Labels: devops-maintain, env

#264 feat(frontend): implement drag-and-drop functionality for chat sessio…
  frontend/package.json
  frontend/src/components/chat-session-item/chat-session-button.tsx
  frontend/src/constants/admin-sidebar-items.ts
  frontend/src/providers/chat-drag-n-drop-provider.tsx
  frontend/src/views/main-layout/app-sidebar/app-sidebar.tsx
  frontend/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  frontend/src/views/main-layout/app-sidebar/chat-history/chat-history.tsx
  frontend/yarn.lock
Labels: dependencies, devops-maintain, frontend, env, autosquash

#281 feat(frontend): rename chat session after created a new chat
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/chat-message/chat-message.tsx
  frontend/src/components/chat-message/copy-button.tsx
  frontend/src/components/chat-session-item/chat-session-actions/actions-dropdown.tsx
  frontend/src/components/chat-session-item/chat-session-button.tsx
  frontend/src/components/chat-session-item/chat-session-input.tsx
  frontend/src/components/chat-session-item/chat-session-item.tsx
  frontend/src/components/will-render.tsx
  frontend/src/constants/admin-sidebar-items.ts
  frontend/src/constants/misc.ts
  frontend/src/constants/sidebar-items.ts
  frontend/src/hooks/agents/use-get-selected-agent.ts
  frontend/src/hooks/chat/use-create-chat-message.ts
  frontend/src/hooks/chat/use-new-chat-helper.ts
  frontend/src/hooks/stores/use-chat-store.ts
  frontend/src/providers/chat-drag-n-drop-provider.tsx
  frontend/src/types/chat.ts
  frontend/src/utils/decode-chat-stream-chunk.ts
  frontend/src/utils/default-toasts.ts
  frontend/src/views/chat-detail-page/chat-detail-page.tsx
  frontend/src/views/chat-detail-page/new-chat-handler.tsx
  frontend/src/views/chat-detail-page/new-messages.tsx
  frontend/src/views/chat-detail-page/previous-messages.tsx
  frontend/src/views/chat-detail-page/streaming-message.tsx
  frontend/src/views/existing-connectors-page/connectors-list/connectors-list.tsx
  frontend/src/views/main-layout/app-sidebar/app-sidebar.tsx
  frontend/src/views/main-layout/app-sidebar/chat-folders/chat-folder-item.tsx
  frontend/src/views/main-layout/app-sidebar/chat-folders/chat-folders.tsx
  frontend/src/views/main-layout/app-sidebar/chat-history/chat-history.tsx
  frontend/src/views/main-layout/chat-box/chat-box.tsx
  frontend/src/views/main-layout/navbar/agent-selector/agent-selector-options.tsx
  frontend/src/views/main-layout/navbar/agent-selector/agent-selector.tsx
  frontend/src/views/new-chat-page/agent-prompts.tsx
  frontend/src/views/new-chat-page/recent-agents.tsx
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: automerge, autosquash

#282 ci(prebuild-frontend): add CI action to test building frontend
  .github/workflows/auto-assign.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/prebuild-frontend.yml
  .pr_agent.toml
Labels: devops-maintain, autosquash

#256 feat(backend): load documents under a background task
  .gitignore
  backend/app/integrations/llama_index/ingestion_pipelines/readers.py
  backend/app/integrations/llama_index/ingestion_pipelines/translators.py
  backend/app/integrations/llama_index/kvstore/mssql/base.py
  backend/app/settings/secrets.py
  backend/notebooks/POC1.ipynb
  backend/pyproject.toml
  backend/uv.lock
Labels: documentation, dependencies, POC, automerge, backend, autosquash, chatbot
